body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #CFDBC5;
}
header{
    text-align: center;
    padding: 10px;
    background-color: #3B5323;
    color: white;
    
}
article{
    padding: 50px;

}
form{
    padding: 50px;
    padding-top: 0;
}
input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
